<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>econMate </h1>
        <hr>
        <nav>
            <ul>
                <li>
                    <a href="/t2p"> Tarifa en dos partes </a>
                </li>
                <li>
                    <a href="/contacts">Contactos</a>
                </li>
            </ul>
    </header>
</body>
</html>